
.carrusel{
	color: red;
	background: red;
}

.nav-style-a{
	color:white;
}

.poster{
	color: black;
	background: darkblue;
}

body{
	color: white;
	/*background-image: url(../img/alone.jpg);*/
	background: #5a5a5a;
}

.search{
	margin-bottom: 10px;
}

i{
  font-size:16px;
}

.text-black{
	color:black;
	text-align: center;
}

.text-white{
	color:white;
	text-align: center;
}

.navbar-static-top {
  margin-bottom:20px;
  background:darkgray;
}

footer {
  margin-top:40px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
  color: black;
}